<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <!-- left logo -->
            <h1><a href="../views/index.html">Clothing Hub</a></h1>

            <!-- right nav bar -->
            <ul>
                <li> <a href="../views/about.html">About us</a></li>
                <li> <a href="../views/categories.html">Categories</a> </li>
                <li> <a href="../views/contact.html">Contact</a> </li>
                <li><a href="../views/gallery.html">Gallery</a></li>
                <i class="fa-solid fa-cart-shopping"></i>

            </ul>
        </div>

    </nav>

    <div class="about-wrapper">

        <div class="top">
            <img src="../images/about.jpeg" alt="">

            <div class="info">
                <h1>Who are we?</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet nemo fugiat. Nam reiciendis, ipsum
                    cum, perferendis harum illo quibusdam architecto natus consequuntur minus molestiae officia nostrum
                    quas consectetur adipisci exercitationem, fugit excepturi voluptatum ex assumenda! Eaque labore,
                    corporis mollitia autem quae, ullam voluptatum aut ex culpa ratione nisi ab, expedita pariatur nemo.
                    Eius placeat commodi doloribus delectus molestias nisi aut, cumque consequuntur sint illo
                    reprehenderit accusantium laborum cum rerum tempore, quaerat pariatur ut quasi beatae similique
                    iure. Ipsa, reiciendis dolor veritatis expedita earum commodi labore unde. Earum vitae doloremque,
                    cumque aperiam libero blanditiis repudiandae eveniet a non tenetur dolor! </p>
            </div>
        </div>



        <div class="bottom">

            <div class="info">
                <h1>Our Services</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet nemo fugiat. Nam reiciendis, ipsum
                    cum, perferendis harum illo quibusdam architecto natus consequuntur minus molestiae officia nostrum
                    quas consectetur adipisci exercitationem, fugit excepturi voluptatum ex assumenda! Eaque labore,
                    corporis mollitia autem quae, ullam voluptatum aut ex culpa ratione nisi ab, expedita pariatur nemo.
                    Eius placeat commodi doloribus delectus molestias nisi aut, cumque consequuntur sint illo
                    reprehenderit accusantium laborum cum rerum tempore, quaerat pariatur ut quasi beatae similique
                    iure. Ipsa, reiciendis dolor veritatis expedita earum commodi labore unde. Earum vitae doloremque,
                    cumque aperiam libero blanditiis repudiandae eveniet a non tenetur dolor! </p>
            </div>
            <img src="../images/services.jpeg" alt="">
        </div>
    </div>

    <footer>

        <div class="wrapper">
            <h1>CLOTHING HUB</h1>

            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Categories</li>
                <li>Contact</li>
                <li>Gallery</li>
            </ul>
        </div>
        <h5>Copyright @2023</h5>
    </footer>

</body>

</html>