<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles//index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/categories.css">
    <title>Products</title>

</head>

<body>

    <div class="container">

        <nav>
            <div class="nav-wrapper">
                <!-- left logo -->
                <h1><a href="../views/index.html">Clothing Hub</a></h1>
                <!-- right nav bar -->
                <ul>
                    <li> <a href="">About us</a></li>
                    <li> <a href="">Categories</a> </li>
                    <li> <a href="">Contact</a> </li>
                    <li><a href="../views/gallery.html">Gallery</a></li>
                </ul>
            </div>

        </nav>

        <div class="c-wrapper">
            <header>
                <div class="icon">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span><a href="../views/index.html">Home</a></span>
                </div>
                <h3 class="title">All</h3>
            </header>

            <ul class="tab">
                <li>All</li>
                <li>Men</li>
                <li>Women</li>
                <li>Kids</li>
            </ul>

            <div class="c-grid">
                <!-- <article>
                    <img src="../images/top-product-img/men1.webp" alt="">

                    <div class="info">
                        <h2>Fancy Leather Jacket</h2>
                        <h4>Rs 1200</h4>
                    </div>
                </article> -->

            </div>
        </div>
    </div>

    <script src="../scripts/categories.js"></script>
</body>

</html>