<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles//index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Home</title>
    <title>Clothing Hub</title>

</head>

<body>



    <div id="container">
        <nav id="mynav">
            <img src="#" alt="Logo" id="logo">

            <ul id="list">
                <li><a href="About.html">About</a></li>
                <li><a href="Categories.html">Categories</a></li>
                <li><a href="Contacts.html">Contacts</a></li>

            </ul>
        </nav>
    </div>
    <div class="bodycontainer">
        <div class="grid">

            <img src="../image/WALLPAPER.JPG" alt="photo" width="50%" height=500 id="img1">
            <img src="../image/WALLPAPER.JPG" alt="photo" width="24%" height="500">
            <img src="../image/WALLPAPER.JPG" alt="photo" width="24%" height="250">

        </div>
    </div>
</body>


</html>