* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: "Blinker", sans-serif;
}

.container {
  position: relative;
}

nav {
  height: 96px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  background: rgb(255, 254, 254);
}

.nav-wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

li {
  font-size: 24px;
  font-weight: 500;
}

li:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  margin-top: 96px;
  width: 80%;
  margin: auto;
}

#banner {
  margin-top: 112px;
  height: calc(100vh - 96px - 96px);
  border: 1px solid red;
}

#top-products {
  margin-top: 96px;
}

#top-products h1 {
  font-size: 32px;
  font-weight: 600;
}

.top-products-container {
  margin-top: 48px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.top-products-container article {
  border: 2px solid rgb(0 0 0 / 21%);
  padding: 10px;
  transition: all 500ms ease;
}

.top-products-container article:hover {
  border: 2px solid rgb(0 0 0 / 80%);
}

.top-products-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.top-products-container .info {
  margin-top: 30px;
}

.top-products-container .info h2 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.top-products-container .info h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
